.fa {
    width: 60px;
    display: block;
    text-align: center;
    color:#990000;
    line-height:60px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.bounce {
    position: center;
    border: 0px solid #990000;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    border-radius:50%;
    animation: bounce 1.5s infinite;
    -webkit-animation: bounce 1.5s infinite;
    -moz-animation: bounce 1.5s infinite;
    -o-animation: bounce 1.5s infinite;
}
 
@-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);} 
    40% {-webkit-transform: translateY(-15px);}
    60% {-webkit-transform: translateY(-5px);}
}
 
@-moz-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
    40% {-moz-transform: translateY(-15px);}
    60% {-moz-transform: translateY(-5px);}
}
 
@-o-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
    40% {-o-transform: translateY(-15px);}
    60% {-o-transform: translateY(-5px);}
}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-15px);}
    60% {transform: translateY(-5px);}
}